<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>team12</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--Bootstrap CSS directly from CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!--normalize.css for improved cross-browser rendering.-->
    <link rel="stylesheet" href="resources/css/style.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
</head>
<>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header navbar-inverse">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img class="img-responsive brand" src="resources/images/logo.png" alt="Umovies logo">
                </a>
            </div>

            <div id="navbar" class="navbar-collapse navbar-inverse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="movie.html">Movies</a></li>
                            <li><a href="tvshow.html">TV Series</a></li>
                            <li><a href="#">Watch list</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="actor.html">Actors</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" role="search">
                        <span class="glyphicon glyphicon-search"></span>
                        <input type="text" id="minisearch" class="form-control glyphicon glyphicon-search" placeholder="Search">
                    </form>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">%CurrentUserAvatar% %CurrentUserName%</li>
                            <li><a href="#/prefs">Preferences</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/logout">Log out</a></li>
                        </ul>
                    </li>
                    <div class="navbar-brand navbar-brand-centered">
                        <a href="#"></a>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</nav>

<div class="container">
    <div class="page"></div>
</div>


<script id="movie-tpl" type="text/template">

    <div class="movie">
        <label class="movie-content"><%= mod.trackId %></label>
    </div>

</script>

<!-- Footer -->
<footer>
    <p>Copyright &copy; UMovie-team12 2015</p>
</footer>

<script type="text/template" id="homepage-template">
    <h1>Home Page</h1>
    <hr/>
    <p>
        Some Stuff. <br/>
        first-level variable test:<b><%= foo %></b>
        <br/>
        <a href="#/prefs" class="btn btn-primary">User preferences link</a>
    </p>
</script>

<script type="text/javascript" src="js/views/movie.js"></script>
<script type="text/javascript" src="js/views/HomePage.js"></script>

<script type="text/javascript" src="js/routers/router.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>

</html>
