
#back {
    margin: 0;
    padding: 0;
    background: url("../images/Cinema-screen.jpg") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    opacity: 0.8;
}

#box {
    width: 200px;
    font-size: 12px;
    line-height: 20px;
    right: -140px;
    top: 2%; /* change this value to place the menu higher or lower */
    position: fixed;
    z-index: 100;
}

#tab {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99;
}

#tab li span {
    display: block;
    padding: 0 5px;
    position: relative;
}

#links {
    width: 90px;
    padding: 20px;
    float: left;
    border-left: 1px solid #B4B8BB;
}

.show, .hide {
    /* we specify the transition length for hiding and showing */
    transition: margin-right .4s ease-in;
    -webkit-transition: margin-right .4s ease-in;
}

.hide {
    margin-right: 0px;
}

.show {
    margin-right: 150px;
}

#arrow, .bt {
    cursor: pointer;
    outline-color: white;
}

.bt {
    width: 200px;
    height: 120px;
    margin: -1px;

    border: 1px solid #858fa6;
}

.bt a {
    line-height: 40px;
    color: #fff;
    display: block;
}

.bt a img {
    width: 80%;
    height: 200%;
}

.bt {
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    opacity: 0.7;
}

.bt:hover {
    -moz-transform: rotate(0deg) scale(1.5) translateX(-150px);
    -webkit-transform: rotate(0deg) scale(1.5) translateX(-150px);
    -o-transform: rotate(0deg) scale(1.5) translateX(-150px);
    -ms-transform: rotate(0deg) scale(1.5) translateX(-150px);
    transform: rotate(0deg) scale(1.5) translateX(-150px);
    opacity: 1;
}

#deco {
    width: 75px;
    float: left;
    box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
}

#background {
    background: radial-gradient(white, #fbfdff);
    position: relative;
    opacity: 1;
    background-color: black;
}

#up {

    position: absolute;
    top: 38%;
    display: block;
    right: 40%;

    z-index: 1;
    width: 15%;
    height: 20%;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    opacity: 0.7;
}

#up_image {

    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

#up_image:hover {
    -moz-transform: rotate(-15deg) scale(1.1);
    -webkit-transform: rotate(-15deg) scale(1.1);
    -o-transform: rotate(-15deg) scale(1.1);
    -ms-transform: rotate(-15deg) scale(1.1);
    transform: rotate(-15deg) scale(1.1);
    opacity: 1;
}

.titre {
    position: absolute;
    font-style: italic;
    font-size: x-large;
    color: #afd3ff;
    z-index: 3;
    top: 0;
    right: 100%;
}

.enter {
    position: absolute;
    font-style: italic;
    font-size: xx-large;
    font-family: "Glyphicons Halflings";
    color: #e2fff8;
    z-index: 3;
    top: 100%;
    right: 5%;

}
