
<!-- Heading Row -->
<div class="row">

    <div class="col-md-4">
    <div class="imgActorSection"></div>


    <div class="upAndDown">

            <h1><div id="actorName"></div> </h1>
            <div class="attributsGenre">
                <span id="primary"><%=mod.primaryGenreName%> </span>
            </div>
            <br>
            <img id="logoItunes" src="resources/images/1257009-logo-itunes-11.jpg">

            <a href="https://geo.itunes.apple.com/ca/movie/bad-lieutenant-port-call-new/id355931719?mt=6"> Buy on Itunes! </a>

        </div>


    </div>
    <div class="col-md-8">
        <h1><div>Known for :</div> </h1>
        <div id="movieList">

            <ul>
                <% var movieArray = movies[0]; %>
                <%  for (var i = 0; i < 3; ++i){ %>
                <li> <label class="actor-movie"><%= movieArray[i].trackName %></label>
                    <img class="img-responsive img-rounded imageFilm" src=<%=movieArray[i].artworkUrl100%> >
                    <ul>
                        <li>Release date : <%=movieArray[i].releaseDate%> </li>
                        <br>
                        <div class='embed-container'> <iframe id="player" type="text/html" width="640" height="390"
                                                              src="" frameborder="0"></iframe>

                        </div>
                        <hr>
                    </ul>
                </li>
                <% }; %>




            </ul>
        </div>

    </div>


</div>