<div class="container">
    <h1> Search Page: <%= filter.q %></h1>
</div>
<div class="page">
    <div class="jumbotron">

        <div class="row">
            <div class="col-md-6">
                <span>Movie genre</span>
                <select class="movies-genres" i-multiple="multiple">
                    <option value="0">Tous</option>
                    <% moviesGenres.forEach(function(genre){%>
                    <option value="<%= genre.id %>" <%if(filter.mg && filter.mg==genre.id){%>selected="selected"<%}%>>
                    <%= genre.name %>
                    </option>
                    <%})%>
                </select>
            </div>
            <div class="col-md-6">
                <span>Tv show genre</span>
                <select class="tvshow-genres" i-multiple="multiple">
                    <option value="0">Tous</option>
                    <% tvshowGenres.forEach(function(genre){%>
                    <option value="<%= genre.id %>" <%if(filter.tg && filter.tg==genre.id){%>selected="selected"<%}%>>
                    <%= genre.name %>
                    </option>
                    <%})%>
                </select>
            </div>
        </div>
        <div class="hrr">
            <hr>
        </div>

        <div class="ListSearch">
            <% results.forEach(function(result){%>
            <div class="media">
                <div class="media-left">
                    <img src="<%= result.artworkUrl100 %>" alt="<%= result.trackName || result.collectionName %>" class="media-object">
                </div>
                <div class="media-body">
                    <a class="nom" href="<% if(result.wrapperType === 'track') {%>#/movies/<%= result.trackId %> <%} else if(result.wrapperType === 'collection'){%>  #/tvshows/sesason/<%= result.collectionId %> <%} else if(result.wrapperType === 'artist'){%>  #/actors/<%= result.artistId %> <%} else {%>#<%}%>">
                        <%= result.trackName || result.collectionName || result.artistName %>
                    </a>
                    <i class="glyphicon <% if(result.wrapperType === 'track') {%> glyphicon-film <%} else if(result.wrapperType === 'collection'){%> glyphicon-th-list <%} else if(result.wrapperType === 'artist'){%> glyphicon-user <%}%>"></i>
                    <% if(result.wrapperType === 'track') {%>
                    <button class="btn btn-primary" data-toggle="popover" data-trigger="focus" data-placement="auto"
                            data-content="<% _.each(watchlists,function(watchlist){%>
								  <% if(watchlist.hasOwnProperty('owner')){%>
									  <% if(watchlist.owner.id == loggedUserId ) {%>
											<button class='btn btn-default addToWatchList' data-id=<%=watchlist.id%> data-movie-id='<%= result.trackId %>' >
											<%=watchlist.name%>
											</button>
												<% } %>
											<% } %>
								   <%});%>">
                        Add to watchlist
                    </button>
                    <%}%>
                </div>
            </div>
            <%})%>

            <%if(users.length){%><h3>Users</h3><%}%>
            <% users.forEach(function(user){%>
            <div class="media">
                <div class="media-left">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="media-body">
                    <a class="nom" href="#/users/<%= user.id %>">
                        <%= user.name %>
                    </a>
                    <button class="btn btn-success follow-user" data-id="<%= user.id %>">Follow</button>
                </div>
            </div>
            <%})%>

        </div>
    </div>

</div>