<div class="tv-show">

    <!-- Heading Row -->
    <div class="row">


        <div class="col-md-4">
            <div class="upAndDown">
                <img class="img-responsive img-rounded" id="cover"
                     src=<%=changeResolutionTo1000x1000(mod.artworkUrl100)%>>

            </div>
            <div class="upAndDown">

                <h1>
                    <div id="nomSerieTV"> <%= mod.artistName %></div>
                </h1>
                <p id="descriptionSerieTV"><%= mod.longDescription %> </p>

                <div class="attributsSerieTV">
                    <span id="rating">  <%= mod.contentAdvisoryRating %>   </span>|
                    <span id="duree"> <%= mod.trackCount %> episodes </span>|
                    <span id="genre"> <%= mod.primaryGenreName %> </span>|
                    <span id="dateSortie"><%= mod.releaseDate %></span>
                </div>
                <br>
                <img class="logoItunes" src="resources/images/1257009-logo-itunes-11.jpg">
                <a href=<%= mod.collectionViewUrl %>> Buy on Itunes! </a>
            </div>

            <div class="upAndDown">
                <div id="epListId">
                    <br>
                    Episode List:
                    <br>
                    <br>

                    <select name="episodeList" size="5">
                    <% var epArray = episodes[0]; %>
                    <% _.each(epArray, function(ep){ %>
                    <option value="<%= ep.trackNumber %>" onclick='showImg("<%= ep.artworkUrl100 %>","<%= ep.previewUrl%>");'><%= ep.trackName %></option>

                    <% }); %>
                    </select>

                </div>
                <br>
                <img id="imageEpisode" class="show"
                     src=''>
            </div>

        </div>


        <div class="col-md-8">
                <!-- /.col-md-8 -->
                <br>

                <!--<div class="embed-responsive embed-responsive-4by3">-->
                    <!--<iframe class="embed-responsive-item" id="preView" src=""></iframe>-->
                <!--</div>-->

            <iframe id="player" type="text/html" width="640" height="390"
                    src="http://www.youtube.com/embed/<%= youtubeVideoId %>" frameborder="0"></iframe>

        </div>


        <!-- /.col-md-4 -->
    </div>

    <!-- /.row -->

    <hr>


</div>

<script>
    function showImg(epImg,epPreview) {

        var el = document.getElementById('imageEpisode');
        //alert(1);
       document.getElementById('imageEpisode').src = epImg;
        document.getElementById('preView').src = epPreview;

    }
</script>